// Buttons to boop

.big-button {
	width: 100%;

	font-weight: bold;
	font-size: $l-size;
	color: white;

	background: $purple;
	margin-bottom: $xl-size;
	border: none;
	border-bottom: .6rem solid darken($purple, 10);
	padding: 2.4rem;

	&:disabled {
		opacity: .5;
	}
}

.button {
	font-weight: 500;
	color: white;

	background: $purple;
	border: none;
	border-bottom: .3rem solid darken($purple, 10);
	padding: $s-size;

	&--link {
		color: $off-white;

		background: none;
		border: none;
		padding: 0;
	}
}
